@media screen and (max-width: 767px){
    .wrapper{
        width: 300px;
    }

    .left{
        width: 100px;
    }

    .red{
        width: 75px;
    }

    .green{
        width: 125px;
    }

    .pink{
        width: 125px;
    }
}

@media screen and (max-width: 479px){
    .wrapper{
    width: 150px;
    }

    .contents{
        float: none;
    }

    .main{
        height: 100px;
    }

    .green{
        height: 50px;
    }

}










